.header {
  background-color: var(--theme-color);
  margin: 0 auto;
  padding: 0 20px;
  box-shadow: 0 4px 10px var(--shadow-color);
  position: sticky;
  top: 0;
  z-index: var(--z-index-1);

  transition: top 0.3s ease-in-out;
}
.dark-header {
  box-shadow: 0 1px 1px var(--shadow-color);
  background-color: var(--dark-mode-color);
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: var(--max-width);
  margin: 0 auto;
}
.nav-header-a {
  display: flex;
  align-items: center;
}
.logo {
  width: 80px;
}

.nav-header-h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  /*color here*/
  font-family: var(--font-title-family);
}
#check-menu {
  display: none;
}
.menu {
  background: url("../img/ham-icon.svg");
  width: 45px;
  height: 45px;
  display: none;
  background-repeat: no-repeat;
  cursor: pointer;
}
.nav-header-menu {
  display: flex;
  align-items: center;
}
.nav-header-menu-list {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.nav-header-menu-item {
  margin-left: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  list-style: none;
  text-transform: uppercase;
  color: var(--secundary-color);
  /* color here */
}
.dark-color {
  color: white;
}

.nav-header-menu-item a {
  position: relative;
}
.nav-header-menu-item a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--color-utils);
  opacity: 0;

  transition: opacity 0.3s linear;
}

a.seleted::after,
.nav-header-menu-item a:hover:after {
  opacity: 0.8;
}

.btn-dark {
  border-radius: 100px;
  background-color: var(--secundary-color);
  border: none;
  width: 54px;
  height: 30px;
  position: relative;
  outline: none;
  display: block;
  cursor: pointer;
}
.btn-dark::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  background-color: white;
  width: 22px;
  height: 21px;
}

.btn-dark-active {
  background-color: white;
  transition: left 3s ease-in-out;
}
.btn-dark-active::after {
  right: 3px;
  left: unset;
  height: 23px;
  background-color: var(--secundary-color);
  width: 23px;
  transition: left 3s ease-in-out;
}

.icon-btn-dark {
  object-fit: contain;
  display: inline;
  width: 19px;
  padding-top: 2px;
}
.icon-btn-dark:hover {
  filter: brightness(1.1);
}

#check-menu:checked ~ .menu {
  width: 38px;
  height: 30px;
  background: url("../img/x-icon.svg");
  background-repeat: no-repeat;
  animation: fadeIn 1s;
}
#check-menu:checked ~ .nav-header-menu-list {
  display: flex;
  animation: fadeIn 0.4s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .menu {
    display: inline-block;
  }
  .nav-header-menu-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 105px;
    right: 0;
    background: linear-gradient(
      to bottom,
      var(--secundary-color) 0%,
      transparent 100%
    );
    width: 100%;
    height: calc(100vh - 105px);
    padding: 20px;
  }
  .nav-header-menu-item {
    color: var(--theme-color);
    display: block;
    width: 100%;
    text-align: center;
  }
  .nav-header-menu-item a {
    display: inline-block;
    width: 100%;
    padding: 20px;
  }
  .nav-header-menu-item a::after {
    content: none;
  }
  .nav-header-menu-item:hover {
    background: var(--theme-color);
    color: var(--secundary-color);
  }
  .seleted {
    background: var(--theme-color);
    color: var(--secundary-color);
  }
}
@media (max-width: 400px) {
  .logo {
    width: 50px;
  }
  .nav-header-menu-list {
    top: 75px;
    height: calc(100vh - 75px);
  }
}
@media (max-width: 360px) {
  .nav-header-h1 {
    display: none;
  }
}
